body{
margin:0;
font-family:Arial;
background:#000;
color:white;
overflow-x:hidden;
}

#welcomePage{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
position:relative;
overflow:hidden;
}

#welcomePage h1{
color:gold;
font-size:42px;
z-index:2;
text-align:center;
text-shadow:0 0 20px gold;
}

button{
padding:15px 30px;
border:none;
border-radius:12px;
background:gold;
color:black;
font-weight:bold;
font-size:16px;
margin-top:20px;
cursor:pointer;
}

.money{
position:absolute;
top:-100px;
font-size:40px;
animation:fall 12s linear infinite;
opacity:0.8;
}

.m2{
left:20%;
animation-delay:2s;
}

.m3{
left:40%;
animation-delay:4s;
}

.m4{
left:60%;
animation-delay:6s;
}

.m5{
left:80%;
animation-delay:8s;
}

.m6{
left:10%;
animation-delay:10s;
}

@keyframes fall{
0%{
transform:translateY(-100px);
}
100%{
transform:translateY(120vh);
}
}

#authPage{
display:none;
flex-direction:column;
align-items:center;
padding:20px;
}

.box{
width:90%;
max-width:400px;
background:#111;
padding:20px;
border-radius:20px;
margin-top:20px;
}

input{
width:100%;
padding:15px;
margin-top:10px;
border:none;
border-radius:10px;
box-sizing:border-box;
}

.link{
color:gold;
margin-top:15px;
text-align:center;
cursor:pointer;
}

#signupBox{
display:none;
}

#mainPage{
display:none;
}

.topBar{
background:#111;
padding:20px;
text-align:center;
font-size:20px;
}

.balanceCard{
background:#111;
margin:20px;
padding:30px;
border-radius:20px;
text-align:center;
}

.balanceCard h2{
font-size:40px;
color:gold;
}

.earnBtn{
width:90%;
margin-left:5%;
}

.walletBox{
background:#111;
margin:20px;
padding:20px;
border-radius:20px;
}

#adPopup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
display:none;
justify-content:center;
align-items:center;
z-index:999;
}

.adBox{
background:#111;
padding:30px;
border-radius:20px;
text-align:center;
width:80%;
}

#closeBtn{
display:none;
}
