body{

margin:0;

font-family:Arial;

background:#111;

color:white;

text-align:center;

}

#welcome{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:black;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:999;

animation:fadeOut 3s forwards;

animation-delay:2s;

}

.logo{

font-size:30px;

animation:pop 1.5s ease;

}

@keyframes pop{

from{
transform:scale(0);
}

to{
transform:scale(1);
}

}

@keyframes fadeOut{

to{

opacity:0;

visibility:hidden;

}

}

.authBox{

margin-top:100px;

}

input{

width:80%;

max-width:300px;

padding:12px;

margin:10px;

border:none;

border-radius:8px;

font-size:16px;

}

button{

padding:12px 20px;

margin:10px;

border:none;

border-radius:8px;

background:gold;

font-weight:bold;

cursor:pointer;

}

.balanceBox{

background:#222;

padding:20px;

margin:20px;

border-radius:12px;

}

.earnBtn{

background:limegreen;

color:white;

font-size:18px;

}

.withdrawBox{

background:#222;

padding:20px;

margin:20px;

border-radius:12px;

}

.logoutBtn{

background:red;

color:white;

}

#ad{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,0.8);

display:flex;

justify-content:center;

align-items:center;

}

.adBox{

background:#222;

padding:30px;

border-radius:12px;

}

#cooldownText{

color:orange;

font-size:14px;

}
